{% extends 'base_accounts.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}
    <h1></h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Schimbare parola</h3>
                    <div class="alert alert-success" role="alert">
                       Ti-am trimis un mail cu instructini pentru resetarea parolei.
                    </div>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Inapoi la pagina principala</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}